{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'assets/img/my-favicon.png' %}" type="image/x-icon">
    <title>Home - Subhajit Chatterjee</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Lato.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/pikaday.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Subhajit Chatterjee</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="cv">CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact">Contact me!</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image: url('{% static 'assets/img/avatars/avatar2.jpg' %}');"></div>

                <div class="about-me">
                    <p>Hello! I am <strong>Subhajit Chatterjee</strong>.&nbsp; I have passion for Advanced Machine learning, Deep Learning and Full Stack Development .</p><a class="btn btn-outline-primary" role="button" data-bss-hover-animate="tada" href="https://drive.google.com/file/d/1tvYeIifLgAHWNlAfynayB8RQJUVCNoYN/view?usp=sharing">My&nbsp; CV</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="projects"><img class="img-fluid image" data-bss-hover-animate="pulse" src="{% static 'assets/img/projectpics/portfolio.png' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="projects"><img class="img-fluid image" data-bss-hover-animate="pulse" src="{% static 'assets/img/projectpics/salessphere.png' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="projects"><img class="img-fluid image" data-bss-hover-animate="pulse" src="{% static 'assets/img/projectpics/hho.png' %}"></a></div>

                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><a href="https://github.com/subhajitchatterjee07"><button class="btn btn-outline-primary btn-lg" type="button">Link to GitHub</button></a>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <!-- Start: portfolio heading -->
                <div class="heading">
                    <h2>Special Skills</h2>
                </div><!-- End: portfolio heading -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Clean, Minimal, Efficient Code</h3>
                                <p class="card-text">I always practice crafting clean, efficient code with meticulous attention to detail. Committed to continuous improvement in software development practices.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Deep Learning, Computer Vision and NLP</h3>
                                <p class="card-text">Experience in Deep Learning, Computer Vision, and NLP, proficient in neural networks, image analysis, and language modeling. Constantly advancing skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Developing Solutions to Problems</h3>
                                <p class="card-text">Developing effective problem-solving solutions through analytical thinking, creative approaches, and collaborative methodologies. Continuously enhancing problem-solving abilities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>My Motto</h3>
                    <p>I always strive to maintain the highest standards of excellence in my professional pursuits. I firmly believe that success is the result of dedicated work and a strong work ethic. Additionally, I value the power of innovation and actively seek out new ideas and creative solutions.&nbsp; With a steadfast commitment to excellence, I drive myself to exceed expectations, constantly improve, and make valuable contributions in my professional journey.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image: url('{% static 'assets/img/tech/image6.png' %}');"></div>

                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/pikaday.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>